html, body{
  height: 100%;
  width: 97%;
  margin: 0px !important;
}

html{
  box-sizing: border-box;
}

.rows{
  column-count: 6;
  column-gap: 1.5em;
  /* column-gap: 1em; */
  /* margin: 1.5em auto;
  max-width: 768px; */
}

.card{
  position: relative;
  margin: 0 0 1em;
  width: 100%;
}

.card2{
  
  margin: 0 0 1em;
  width: 100%;
}

.card img{
    width: -webkit-fill-available;
    border-radius: 28px;
}
/* 
@media screen and (max-width:800px){

    .rows{
        width: 16%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

} */


.button-guardar,
.button-compartir,
.button-mas,
.button-website{
  display: none;
  position: absolute;
}


.button-guardar{
  top: 3%;
  right: 7%;
  background-color: #e40028;
  height: 36px;
  width: 85px;
  border-radius: 28px;
  border: none;
  font-weight: bold;
  text-decoration: none;
}

.button-mas {
  bottom: 3%;
  right: 7%;
  border-radius: 28px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.7;
  height: 34px;
  width: 34px;
}

.button-compartir {
  bottom: 3%;
  right: 25%;
  background-image: url(./Assets/upload-solid.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  height: 34px;
  width: 34px;
  border-radius: 28px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.7;
}

.button-website {
  bottom: 3%;
  left: 7%;
  border-radius: 28px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.7;
  height: 34px;
}

a div{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  text-decoration: none;
  color: white;
  border: none;
}

.card:hover .card-img{
  opacity: 0.8;
}

.card:hover .button-guardar,
.card:hover .button-compartir,
.card:hover .button-mas,
.card:hover .button-website {
  display: block
}

.button-guardar:hover > div {
  background-color:rgba(0, 0, 0, 0.1);
}

.button-website:hover,
.button-compartir:hover,
.button-mas:hover{
  opacity: 1;
}

/* @media screen and (max-width:550px){

  .rows{
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }

}  */


@media (min-width:1260px) and (max-width:1440px){

  .card img{
    width: 243px;
  }

  .rows{
      column-count: 5;
  }

}

@media (min-width:1040px) and (max-width:1260px){

body{
  padding-left: 10px;
  padding-right: 10px;
}

.card img{
  width: 243px;
}

.rows{
    column-count: 4;
}

}

@media screen and (max-width:1040px){

body{
  padding-left: 50px;
  padding-right: 50px;
}

.card img{
  width: 243px;
}

.rows{
    column-count: 3;
}

}

