html, body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rows{
    width: 15.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    margin: 10px;
    position: relative;

}

.card img{
    width: -webkit-fill-available;
    border-radius: 28px;
}

/* 
@media screen and (max-width:800px){

    .rows{
        width: 16%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

} */

.container {
    width: 100%;
    position: relative;
  }
  
  .button-guardar,
  .button-compartir,
  .button-mas,
  .button-website{
    display: none;
    position: absolute;
  }
  
  .container-img{
    border-radius: 28px;
    width: -webkit-fill-available;
    }

  .button-guardar {
    top: 3%;
    right: 7%;
  }

  .button-mas {
    bottom: 3%;
    right: 7%;
  }

  .button-compartir {
    bottom: 3%;
    right: 25%;
    background-image: url(./Assets/upload-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12%;
  }

  .button-website {
    bottom: 3%;
    left: 7%;
  }
  
  .card:hover .container-img{
    opacity: 0.9;
  }


  .card:hover .button-guardar,
  .card:hover .button-compartir,
  .card:hover .button-mas,
  .card:hover .button-website {
    display: block;
  }

  
@media screen and (max-width:750px){

    .rows{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

}

/* @media screen and (max-width:600px){

    .rows{
        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

} */

@media screen and (max-width:550px){

    .rows{
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

}