html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: #A9C7E1;
}

header a img{
    width: 183px;
    /*height: 76px;*/
}

header nav a{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    margin-right: 25px;
    color: white;
}

header nav a:first-child{
    color: black;
}

#inicio{
    background-color: #A9C7E1;
    height: 86.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-image: url(./Assets/background.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

#inicio h1{
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 50px;
}

#inicio h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
}

#inicio button{
    width: 178px;
    height: 65px;
    background: #1A264E;
    font-style: normal;
    font-weight:400;
    font-size: 25px;
    color: #FFFFFF;
    border: 1px solid #1A264E;
    box-sizing: border-box;
    border-radius: 28px;
    
}

#beneficios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px 50px 10px 50px;
}

.card{
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    border: 0px;
}

.card h3{
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}

.card p{
    text-align: center;
    padding: 20px;
    font-size: 17px;
    margin: 0;
}

.card img{
    width: 130px;
}

#formulario{
    background-color: #A9C7E1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

section form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
    height: 80%;
    padding: 30px;
}

#formulario h1{
    font-size: 64px;
}

#formulario form input, #formulario form textarea{
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black;
    font-size: 36px;
}

#formulario form input::placeholder, #formulario form textarea::placeholder{
    color: black;
}

#formulario form button {
    width: 150px;
    height: 50px;
    background-color: #1A264E;
    border: 1px solid #1A264E;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color:#FFFFFF;
    align-self: center;

}

#formulario form input:focus, #formulario form textarea:focus {
    outline: none;
}

@media screen and (max-width:600px){

    header nav a{
        display: none;
    }

    #inicio h1{
        text-align: center;
        font-size: 80px;
    }

    #inicio h2{
        text-align: center;
        font-size: 30px;
    }

    #inicio{
        align-items: center;
        background-image: none;
    }

    .card{
        width: 100%;
    }

    #formulario{
        flex-direction: column;
    }
 
    #formulario h1{
        font-size: 55px;
        padding-top: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    section form{
        width: 80%;
    }
    
    
    #formulario form input, #formulario form textarea{
        background-color: transparent;
        border: none;
        border-bottom: 4px solid black;
        font-size: 24px;
    }
    
    #formulario form input::placeholder, #formulario form textarea::placeholder{
        color: black;
    }
    
    #formulario form button {
        width: 150px;
        height: 50px;
        background-color: #1A264E;
        border: 1px solid #1A264E;
        box-sizing: border-box;
        border-radius: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color:#FFFFFF;
        align-self: center;
    
    }

}